body {
    margin: 0;
    text-align: center;
    background-color: rgb(30, 30, 30);
    
}

h1 {
    color:rgb(75, 185, 255);
    font-size: 38px;

}

h2 {
    color: rgb(255, 230, 90);
    font-size: 30px;
}

p {
    color: rgb(75,185,255);
}
